<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/header :: #nav-menu}"></div>

<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <td>username:</td>
            <td><input type="text" name="username" id="username"/></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="password" name="password" id="password"/></td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <input type="checkbox" name="remember-me"> Remember me
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="login"/></td>
        </tr>
    </table>
</form>

</body>
</html>